body {
    margin: 0;
}
.wrapper {
    width: 970px;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}

a {
    color: rgb(80, 105, 143);
}

p {
    color: rgb(58, 58, 58);
}

h3 {
    color: rgb(141, 54, 141);
    border-bottom: 2px solid grey;
    padding-top: 20px;
    padding-bottom: 10px;
}

nav {
    background-color: rgba(0, 66, 141, 0.453);
    color: white;
    text-align: left;
    border-bottom: 5px solid rgba(0, 52, 112, 0.419);
    padding-left: 20px;
    padding-right: 20px;
}

    nav .navigation-list {
        display: inline-block;
        width: 600px;
    }

    .navigation-list img {
        width: 50px;
        vertical-align:middle;
        padding-left: 30px;
    }

    .navigation-list #php-8-icon {
        padding-left: 10px;
    }

    .navigation-list ul {
        display: inline-block;
        margin: 0;
        padding-left: 10px;
    }

        .navigation-list ul li {
            display: inline-block;
            font-size: 15px;
            margin: 10px;
        }

            .navigation-list ul .highlighted-list-item {
                background-color: rgba(0, 52, 112, 0.419);
                display: inline-block;
            }

.search-container {
    display: inline-block;
    width: 300px;
    text-align: right;
    padding-left: 22px;
    vertical-align: middle;
}

textarea {
    resize: none;
}

.content-box {
    background-color: rgb(53, 53, 53);
    height: 100%;
    padding: 0 20px 20px 20px;
}

.main-content {
    display: inline-block;
}

.sidebar-container {
    display: inline-block;
    vertical-align: top;
}

    .sidebar-container h3 {
        color: rgb(180, 180, 180);
        padding: 10px 0;
        margin: 0;
    }
.chapter-list {
    margin-left: 20px;
}
    .chapter-list p {
        color: rgb(180, 180, 180);
        padding: 5px 0 5px 7px;
        margin: 0;
        border-bottom: 2px solid grey;
    }

#sub-chapter {
    color: rgb(255, 75, 243)
}

.php-chapter {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    width: 600px;
    display: inline-block;
    vertical-align: middle;
}

    .php-chapter div{
        display: inline-block;
        font-size: 15px;
        color: rgb(180, 180, 180);
        vertical-align: middle;
    }

    .php-chapter ul {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

        .php-chapter ul li {
            display: inline-block;
            font-size: 15px;
            margin: 0;
            color: rgb(180, 180, 180);
            padding: 0 5px;
        }

.php-chapter-nav {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

    .php-chapter-nav ul {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

        .php-chapter-nav ul li {
            display: inline-block;
            font-size: 15px;
            padding-left: 10px;
            margin: 0;
            color: rgb(180, 180, 180);
        }

.main-container {
    background-color: white;
    padding: 20px;
    width: 600px;
    border-right: 5px solid rgb(100, 100, 100);
}

    .main-container p {
        text-align: justify;
    }

    .main-container h3 {
        display: inline-block;
        margin: 0;
        border-bottom: none;
    }
    
    .main-container a {
        display: inline-block;
    }

    .main-container ul {
        padding-left: 20px;
    }
    
        .main-container ul li {
            padding-bottom: 5px;
        }

.header-content{
    color: rgb(58, 58, 58);
    padding-bottom: 10px;
    border-bottom: 2px solid grey;
}

.add-feature-container {
    width: 396px;
    text-align: right;
    display: inline-block;
}

#add-feature {
    font-size: 15px;
    text-decoration: none;
    border-bottom: 2px solid rgb(80, 105, 143);;
}

    #add-feature img {
        width: 10px;
        margin-right: 5px;
    }
.single-line {
    border-bottom: 2px solid grey;
}
.options-container {
    text-align: right;
}

    .options-container p {
        display: inline-block;
        margin: 0;
    }

    .options-container a {
        text-decoration: none;
        font-size: 10px;
        padding-left: 10px;
    }

footer ul{
    margin: 50px 0 0 0;
    padding-left: 20px;
    text-align: left;
}

    footer ul li{
        display: inline-block;
        color: rgb(180, 180, 180);
        padding-right: 10px;
    }

footer a {
    text-decoration: none;
    color: rgb(180, 180, 180); 
}



