html {
    background-color: black;
    margin: 0;
}
body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header {
    padding: 20px 35px 10px 35px; 
}

.wrapper {
    width: 945px;
    height: 100vh;
    background-color: #1e415e;
    margin: 0 auto;
}
    .wrapper .header-sub-container.search-container {
        width: 434px;
    }

textarea {
    display: inline-block;
    resize: none;
    width: 170px;
    height: 25px;
    vertical-align: middle;
}

button {
    display: inline-block;
}

ul {
    padding: 0;
    margin: 0;
}

.header-sub-container {
    width: 430px;
    display: inline-block;
    vertical-align: middle;
}
    .header-sub-container img {
        width: 230px;
    }

.search-container {
    text-align: right;
}
    .search-container div {
        background-color: #1e2933;
        padding: 4px 11px 7px 15px;
        border-radius: 5px;
        display: inline-block;
    }
    .search-container button {
        background: linear-gradient(#ffe07c,#ffd54c);
        color: #385519;
        height: 25px;
        border-radius: 5px;
    }
        .search-container div button {
            background: linear-gradient(#51abf5,#326995);
            margin-left: 5px;
            color: white;
            height: 33px;
            width: 37px;
            border-radius: 5px;
            font-size: 12px;
        }

#socialize-button {
    display: inline-block;
    vertical-align: middle;
    background:none;
    border: none;
    width: auto;
    color: rgb(176, 176, 176);
    padding: 0;
}

#separate-border {
    width:1px;
    display: inline-block;
    border-right: 2px solid #19222b;
    padding: 0;
    height: 38.4px;
    vertical-align: middle;
}

#selected-item {
    background-color: #2b5a83;
    border: none;
}

#remove-border {
    border: none;
}

nav {
    background-color: #3673a6;
    text-align: center;
    width: 865px;
    border-radius: 7px;
    margin: 0 auto;
}

    nav ul {
        text-align: center;
        border-right: 2px solid #3a688e;
        display: inline-block;
    }
        nav ul li {
            display: inline-block;
            color: rgb(226, 226, 226);
            padding: 12px 13px;
            border-left: 2px solid #39658a;
        }
            nav ul li  a {
                color: rgb(226, 226, 226);
                text-decoration: none;
            }
main {
    text-align: center;
    width: 945px;
    height: 515px;
}

.python-description-container {
    width: 920px;
    margin: 0 auto;
    position: relative;
}
    .python-description-container h1 {
        color: #ffd345;
        font-size: 23px;
        margin: 0;
    }

    .python-description-container div {
        display: inline-block;
        width: 380px;
        vertical-align: top;
        text-align: left;
        padding: 25px;
        position: relative;
        left: 70px;
    }

    .python-description-container p {
        color: rgb(206, 206, 206);
        font-size: 13px;
        width: 300px;
    }

    .python-description-container img {
        width: 460px;
        height: 290px;
        position: relative;
        right: 20px;
        z-index: 1;
    }

.python-news-container {
    width: 400px;
    padding: 0 15px;
    text-align: left;
    border-top: 4px solid #75a8d3;
    display: inline-block;
    color :#333333;
    vertical-align: top;
    margin: 10px;
}

.additional-descriptions-container {
    background-color: #fbfbfb;
    position: relative;
    bottom: 35px;
    padding: 5px 20px 20px 20px;
}

.header-additional-info{
    padding-top: 10px;
}

    .header-additional-info h3 {
        display: inline-block;
        width: 198px;
        padding: 5px 0;
        margin: 0;
    }

    .header-additional-info a {
        display: inline-block;
        width: 198px;
        padding: 5px 0;
        margin: 0;
        text-align: right;
        font-size: 13px;
        text-decoration: none;
        color: #333333;
    }

.additional-info div {
    border-top: 1px solid #d0d2d4;
}

    .additional-info div div {
        display: inline-block;
        padding: 5px 5px 5px 12px;
        font-size: 12px;
        border: none;
    }
    .additional-info div div a {
        text-decoration: none;
        color: #446ba7;
    }

    .additional-info ul {
        display: inline-block;
    }

.python-uses-container {
    width: 400px;
    text-align: left;
    border-top: 4px solid #75a8d3;
    display: inline-block;
    color: #333333;
    vertical-align: top;
    margin: 10px;
    padding: 0 15px;
}

    .python-uses-container .main-additional-info {
        border: none;
        padding-top: 10px;
    }
    .python-uses-container div {
        border-top: 1px solid #d0d2d4;
    }
        .python-uses-container div div {
            font-size: 12px;
            display: inline-block;
            padding: 5px 0 5px 0;
            border: none;
            font-weight: bolder;
        }
        .python-uses-container div ul {
            font-size: 12px;
            display: inline-block;
            padding: 5px 0;
            border: none;
        }
                .python-uses-container div ul li {
                    background-color: rgb(221, 221, 221);
                    display: inline-block;
                    padding: 3px;
                }
                    .python-uses-container div ul li a {
                        text-decoration: none;
                        color: #686868;
                    }
            .python-uses-container .main-additional-info h3 {
                display: inline-block;
                width: 198px;
                padding: 5px 0;
                margin: 0;
            }

            .python-uses-container .main-additional-info a {
                display: inline-block;
                font-size: 13px;
                width: 198px;
                padding: 5px 0;
                margin: 0;
                text-align: right;
                text-decoration: none;
                color: #333333;
            }


footer {
    text-align: center;
}
    footer ul div {
        display: inline-block;
        padding: 0;
        margin: 0;
        width: 10px;
        height: 10px;
        background-color: green;
        border: 1px solid rgb(72, 72, 72);
        border-radius: 100%;
    }
    footer ul .status-indicator {
        padding: 0;
    }
    footer ul li {
        display: inline-block;
        padding: 0 10px;
        color: rgb(175, 175, 175);
        font-size: 10px;
    }

        footer ul li a {
            text-decoration: none;
            color: rgb(175, 175, 175);
            font-size: 15px;
        }
    footer .additional-info-footer {
        padding-top: 10px;
    }
        footer .additional-info-footer li {
            font-size: 10px;
            padding: 0 2px;
        }
        footer .additional-info-footer li a {
            font-size: 10px;
            text-decoration-line: underline;
            text-decoration-style: dotted;
            text-decoration-color: rgb(152, 161, 157);;
        }
            


